* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}


body {
    /*    background-image: linear-gradient(white, #f6f6f6, white);*/
    font-family: 'Quicksand', sans-serif;
}

p {
    line-height: 1.5rem;
}

figcaption {
    font-style: italic;
    font-size: .7rem;
    color: #4a4a49;
}

/*--------------------------- Menu --------------------------------------------------------*/
/*--------------------------- Menu --------------------------------------------------------*/
/*--------------------------- Menu --------------------------------------------------------*/


nav {
    background-color: #f6f6f6;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #4a4a49;
    font-size: .75em;
    margin: 0;
    z-index: 2;

}

ul {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 4vw 0 4vw;
    align-items: center;
}

li {
    padding: 1em 3em 1em 3em;
    list-style: none;
    border-bottom: 1px solid white;
}

li:first-child {
    flex-grow: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 1em 1em 1em 1em;
    opacity: 0;

    animation-name: logoNathan;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;


}

ul li a:focus {
    color: blue;
    transition-duration: 0.5s;
    outline: none;
}

ul li a:hover {
    /*    fill: #e6007e;*/
    color: #e6007e;
    transition-duration: 0.5s;
    outline: none;
}

a {
    text-decoration: none;
    color: #4a4a49;
}

.menuselected {
    color: #e6007e;
}


#contactButton {
    font-weight: 400;
    color: white;
    font-size: .75rem;
    font-family: 'Quicksand', sans-serif;
    background-color: yellow;
    padding: .5rem 1rem;
    border-radius: .5rem;
    border: 1px solid #e6007e;
    outline: none;
    -webkit-appearance: none;
}

#contactButton:focus {
    border: 1px solid blue;
    outline: none;
    -webkit-appearance: none;
}

.contactShow {
    opacity: 1;
}

/*--------------------------- Contact --------------------------------------------------------*/
/*--------------------------- Contact  --------------------------------------------------------*/

header form {
    width: 80vw;
    background-color: white;
    border-radius: 1rem;
/*    margin-right:-80vw;*/
    position: absolute;
    left: 10%;
    top: 16rem;
    padding: 2rem;
    z-index: 4;
    box-shadow: 0px 0px 10px #4a4a49;
    opacity: 0;
    animation-duration: 1;

}

header form input {
    display: block;
    width: 100%;
    padding: 1rem;
    border: 1px solid #4a4a49;
    border-radius: .2rem;
}

header form input:focus {
    border-color: #e6007e;
    border-width: thin;
    outline: none;
}



header form textarea {
    width: 100%;
    height: 7rem;
    display: block;
    padding: 1rem;
    border: 1px solid #4a4a49;
    border-radius: .2rem;
}

header form textarea:focus {
    border-color: #e6007e;
    border-width: thin;
    outline: none;
}

#verstuur:focus {
    border: 1px solid blue;
    outline: none;
}

header form label {
    display: block;
    margin: 1rem 0 .5rem 0;
}

header form fieldset {
    border: 0;
    margin: 1rem 0;
}

header form legend {
    margin: 1rem 0;
    font-size: 1.7rem;
    color: #e6007e;
    text-align: center;
}

#verstuur {
    display: block;
    width: 40%;
    margin-top: 1.5em;
    margin-left: 60%;
    padding: 1em 0;
    background-color: #e6007e;
    border-radius: .4rem;
    font-weight: 600;
    color: white;
    border: 1px solid #e6007e;
    transition-duration: .5s;

}

#verstuur:hover {
    box-shadow: 0px 0px 4px darkslategray;
}

#verstuur:focus {
    border: 1px solid blue;
    outline: none;
}




/*--------------------------- Header --------------------------------------------------------*/
/*--------------------------- Header --------------------------------------------------------*/
/*--------------------------- Header --------------------------------------------------------*/

.header-image {
    width: 100vw;
    z-index: -1;
    position: inherit;
}


h1 {
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
    position: absolute;
    top: 17rem;
    left: 5vw;
    right: 5vw;


}

h1 span {
    color: #e6007e;
    animation: glow 5s ease-in-out infinite alternate;
}

h2 span {
    color: #e6007e;
}


/*--------------------------- Mijn verhaal --------------------------------------------------------*/
/*--------------------------- Mijn verhaal --------------------------------------------------------*/
/*--------------------------- Mijn verhaal --------------------------------------------------------*/

.overNathan:first-child {
    /*    display: block;*/
    /*    justify-content: space-around;*/
    width: 80vw;
    margin: 2rem auto;
}

.overNathan:first-child article:nth-child(3) {
    background-color: #f6f6f6;
    padding: 1.5rem;
    line-height: 1.5rem;
}

main article a {
    color: #e6007e;
}

.overNathan article p {
    margin-bottom: 1rem;
}

.overNathan article a:hover {
    text-decoration: underline;
}

.overNathan article img {
    width: 100%;
    margin-top: 1rem;
    background-color: #f6f6f6;
}


/*--------------------------- Mijn passie --------------------------------------------------------*/
/*--------------------------- Mijn passie --------------------------------------------------------*/
/*--------------------------- Mijn passie --------------------------------------------------------*/

.overNathan:nth-child(2) {
    width: 100vw;
    background-color: #4a4a49;
    margin: 4rem auto 0rem auto;
}

.overNathan:nth-child(2) h2 {
    width: 80vw;
    margin: 2rem auto;
    padding-top: 4rem;
    color: white;
}


.overNathan:nth-child(2) article:nth-child(2) p {
    margin-bottom: 1rem;
    color: white;
    width: 80vw;
    margin: 2rem auto;
}

.overNathan span {
    font-size: .75rem;
    font-style: italic;
    display: block;
}


.overNathan:nth-child(2) article:nth-child(2) p:last-child {
    padding-bottom: 1rem;
}

.overNathan:nth-child(2) article img {
    margin-bottom: 2rem;
}

#inlineImage {
    width: 80vw;
    margin: 1rem auto;

}

/*--------------------------- Vaardigheden --------------------------------------------------------*/
/*--------------------------- Vaardigheden --------------------------------------------------------*/
/*--------------------------- Vaardigheden --------------------------------------------------------*/

.vaardigheden {
    width: 80vw;
    margin: 2rem auto;
    opacity: 0;

    animation-name: skillBlocks;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

}

.vaardigheden div {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    grid-gap: 2rem;
}

.vaardigheden div article {
    background-color: #f6f6f6;
    padding: 2rem;
    color: #4a4a49;
    box-shadow: 0px 0px 10px #f6f6f6;
    text-align: center;
}

.vaardigheden div article h4 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

.vaardigheden div article:hover h4 {
    color: #e6007e;

}

/*
.vaardigheden div article h4 span{
    font-size:1rem;
    display:block;
    font-weight:500;
}
*/

.vaardigheden div article:hover,
.vaardigheden div article:focus {
    box-shadow: 0px 0px 10px #cacaca;
}

.vaardigheden h2 {
    padding: 1.5rem;
    margin-top: 6rem;
    background-color: #e6007e;
    color: white;
}

/*--------------------------- Projects --------------------------------------------------------*/
/*--------------------------- Projects --------------------------------------------------------*/
/*--------------------------- Projects --------------------------------------------------------*/
.projecten {
    width: 80vw;
    margin: 2rem auto;
    opacity: 0;

    animation-name: skillBlocks;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

}

.projecten div {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.projecten div article {
    background-color: #f6f6f6;
    box-shadow: 0px 0px 10px #f6f6f6;
}

.projecten div article img {
    width: 100%;
}

.projecten div article p {
    padding: 2rem 2rem 2rem 2rem;
    color: #4a4a49;
    text-align: left;
}

.projecten div article h4 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem 2rem 0rem 2rem;
    color: #4a4a49;
}

.projecten div article:hover h4 {
    color: #e6007e;
}

.projecten div article:hover,
.projecten div article:focus {
    box-shadow: 0px 0px 10px #cacaca;
}

.projecten h2 {
    padding: 1.5rem;
    margin-top: 6rem;
    background-color: #e6007e;
    color: white;
}

/*---------------------------------------------------------Projects ---------------------------------------------------*/
/*---------------------------------------------------------Projects ---------------------------------------------------*/
/*---------------------------------------------------------Projects ---------------------------------------------------*/

.specificProjects {
    width: 80vw;
    margin: 0 auto;
}

.specificProjects img {
    width: 80vw;
}


.specificProjects h2 {
    padding: 2rem 0 0 0;
}

.specificProjects h3 {
    margin: 3rem 0 1rem 0;
}

.specificProjects p {
    margin-bottom: 1.5rem;
}

.download-btn {
    display: inline-block;
    text-align: center;
    /*    width: 20vw;*/
    padding: 1rem;
    background-color: #e6007e;
    color: white;
    border-width: thin;
    border-style: solid;
    border-color: #e6007e;
    border-radius: .5rem;
    transition-duration: .5s;
    /*    box-shadow:0px 0px 10px #f6f6f6;*/
}

.specificProjects article:last-child {
    margin-bottom: 3rem;
}

.download-btn:hover {
    box-shadow: 0px 0px 4px darkslategray;
}

.imageDiap {
    background-color: #4a4a49;
}


.ofjSection {
    width: 100vw;
    margin: 0 auto;
    background-color: #4a4a49;
}

.ofjSection img {
    width: 80vw;
    margin: 1rem auto 2rem auto;
}

.ofjSection h5 {
    margin: 1rem 0rem;
    font-size:1.1rem;

}

.ofjSection article:first-child,
.ofjSection article:first-child h3 {
    padding-top: 4rem;
}

.ofjSection article {
    width: 80vw;
    margin: 0 auto;
    color: white;

}






/*--------------------------- footer --------------------------------*/
/*--------------------------- footer --------------------------------*/
/*--------------------------- footer --------------------------------*/



footer {
    background-color: #f6f6f6;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #4a4a49;
    font-size: .75em;
    margin: 0;
    padding: 3em;
    text-align: center;
}


/*--------------------------- break points --------------------------------*/
/*--------------------------- break points --------------------------------*/
/*--------------------------- break points --------------------------------*/


/* Responsive 800px START*/
@media all and (min-width: 800px) {
    ul {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 4vw 0 4vw;

    }

    li {
        border-bottom: 0px solid white;
    }

    .header-image {
        width: 100vw;
        z-index: -1;
    }

    h1 {
        font-size: 4rem;
        position: absolute;
        top: 10rem;
        left: 25%;
        right: 25%;
        color: white;
        text-align: center;


    }

    /*--------------------------- Mijn verhaal  Breakpoint -------------------------------------*/

    .overNathan:first-child {
        width: 50vw;
    }

    /*--------------------------- Mijn passie Breakpoint -------------------------------------*/
    .overNathan:nth-child(2) h2 {
        width: 50vw;
    }


    .overNathan:nth-child(2) article:nth-child(2) p {
        width: 50vw;
    }

    #inlineImage {
        width: 50vw;
    }

    /*--------------------------- Mijn specifieke projecten -------------------------------------*/
    .specificProjects {
        width: 50vw;
        margin: 0 auto;
    }

    .specificProjects img {
        width: 50vw;
    }



    .ofjSection article {
        width: 50vw;
    }

    .ofjSection img {
        width: 50vw;
    }

    /*--------------------------- Contact -------------------------------------*/

    header form {
        width: 40vw;
        position: absolute;
        right: 2vw;
        left: inherit;
        top: 6rem;
    }

    #contactButton:hover{
    box-shadow: 0px 0px 4px darkslategray;
}


}


/* Responsive 1200px START*/
@media all and (min-width: 1200px) {

    header form {
        width: 30vw;
        position: absolute;
        right: 2vw;
        left: inherit;
        top: 6rem;
    }

}



/*---------------------------------------------------------CSS ANIMATIE ---------------------------------------------------*/
/*---------------------------------------------------------CSS ANIMATIE ---------------------------------------------------*/
/*---------------------------------------------------------CSS ANIMATIE ---------------------------------------------------*/
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ffb4f5, 0 0 40px #fff, 0 0 50px #ffb4f5, 0 0 60px #fff, 0 0 70px #ffb4f5, 0 0 80px #fff;
    }
}



@keyframes logoNathan {
    from {
        margin-left: -4rem;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 100;
    }

}


@keyframes skillBlocks {
    from {
        margin-top: 15vw;
        opacity: 0;
    }

    to {
        margin-top: 0vw;
        opacity: 100;
    }

}

